* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-white {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 4px solid #FFD700; /* Yellow border */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 30px;
    font-weight: 700;
}

.government-logos img {
    height: 50px;
    margin-left: 10px;
}

.header-yellow {
    background-color: #FFD700;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-icon {
    font-size: 40px;
    margin-right: 10px;
}

.schedular-id {
    font-size: 20px;
    font-weight: 500;
}

.main-content {
    display: flex;
    flex-grow: 1;
    background-color: #4267B2;
}

.sidebar {
    background-color: #003366;
    color: white;
    width: 200px;
    padding-top: 20px;
    
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: rgb(6, 5, 5);
    background-color: white;
    
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.profile-details {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-card {
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-button .material-icons {
    font-size: 30px;
}

.profile-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.profile-info-box {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.profile-info-box div {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    font-weight: 500;
}

.profile-avatar img {
    height: 150px;
    border-radius: 50%;
}