  /* Profile Details Section */
  .profile-details {
    flex-grow: 1;
    background-color: #3b66ef;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.schedule-duty {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #000;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-duty h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.schedule-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
    background-color: #3b66ef;
    border-radius: 10px;
}

.schedule-form select {
    width: calc(14% - 10px);
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0044cc;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

.submit-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    margin-top: 15px;
}

.submit-btn:hover {
    background-color: #45a049;
}